@import "tailwindcss";
@import "tw-animate-css";



html{
   scroll-behavior: smooth;
}


body {  
  background-color: #fffcf5;
  color: #2c3d33;
  background-repeat: no-repeat;
  position: relative;
  font-family: var(--font-Reddit_Sans), serif;
 
}

a,
li,
ul {
  cursor: pointer;
}

.logo-white img {
  filter: brightness(0) invert(1); 
}

