@import "tailwindcss";

body {
  background-image: url("/image-mesh-gradient5.png"); /* color tipo papel */
  position: relative;
  overflow: hidden;
  font-family: var(--font-Reddit_Sans), serif;

  scroll-behavior: smooth;
}
